.sign-in {
  height: 100vh;
}
.sigin-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.signin-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-image img {
  width: 70%;
}
.register-form {
  width: 100%;
}
.singin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.singin-form h2 {
  color: #2f3061;
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 0.2em;
}

.form-group {
  padding-top: 8px;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 20px;

  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  outline: none;
  margin: 10px;
}
.zmdi {
  padding: 2px 2px 2px 2px;
  color: #2f3061;
  font-size: 1.8rem;
}

.loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.loginbtn input {
  padding: 10px 20px;
  background: #2f3061;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .sigin-content {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
  .signin-image {
    padding: 20px;
  }
  .signin-image img {
    width: auto;
    height: 200px;
  }
  .singin-form {
    padding: 10px;
  }
}
